/*imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron:wght@600&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Monofett&family=Orbitron:wght@600&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */

--root {
    --red: #f43545;
    --orange: #fa8901;
    --green: #00ba71;
    --blue: #00c2de;
    --violet: #5f2879;
}

/* Color change class */
.color-change {
    height: 100vh;
    animation: animate 100s ease infinite;
}

/* Color change animation */
@keyframes animate{
    0%{
        background-color: #f43545;
    }
    10%{
        background-color: #fa8901;
    }
    20%{
        background-color: #fad717;
    }
    30%{
        background-color: #00ba71;
    }
    40%{
        background-color: #00c2de;
    }
    50%{
        background-color: #5f2879;
    }
    60%{
        background-color: #00c2de;
    }
    70%{
        background-color: #00ba71;
    }
    80%{
        background-color: #fad717;
    }
    90%{
        background-color: #fa8901;
    }
    100%{
        background-color: #f43545;
    }
}

/*Score counter boxes*/
.score-counter {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    background-color: #000000;
    color: #00ba71;
}

.score-counter-2 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    background-color: #000000;
    color: #f43545;
}

.score-counter-3 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    background-color: #000000;
    color: #00ba71;
}

.score-counter-4 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    background-color: #000000;
    color: #f43545;
}

.score-counter-5 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Monofett', cursive;
    font-size: 3rem;
    background-color: #000000;
    color: #00ba71;
}

.score-counter-6 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Monofett', cursive;
    font-size: 3rem;
    background-color: #000000;
    color: #f43545;
}

.score-counter-7 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Geostar Fill', cursive;
    font-size: 3rem;
    background-color: #000000;
    color: #00ba71;
}

.score-counter-8 {
    text-align: right;
    margin-left: 2rem;
    height: 100px;
    width: 50rem;
    font-family: 'Geostar Fill', cursive;
    font-size: 3rem;
    background-color: #000000;
    color: #f43545;
}








